<p id="notice"><%= notice %></p>

<h1>Libros Disponibles</h1>

<div id="card" class="my-3">
  <%= render 'cards/card' %>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Libro</th>
      <th>Precio</th>
      <th>Detalle</th>
      <th>Reserva</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td>$<%= book.price %></td>
        <td><%= link_to 'Ver', shop_path(book) %></td>
        <td>
          <%= form_for @order_item, remote: true do |f| %>
            <%= f.hidden_field :book_id, :value => book.id %>
            <%= f.number_field :quantity, :value => 1, :min => 1 %>
            <%= f.submit 'Reservar', data: { disable_with: 'Procesando...' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

