<h1>Libros Reservados</h1>

<% @order_items.each do |item| %>
    <div class="card my-3">
        <h5 class="mt-3"><%= item.book.title %></h5>
        <p>$<%= item.book.price %></p>

        <%= form_for item, remote: true do |f| %>
            <%= f.hidden_field :book_id, :value => item.book.id %>
            <%= f.number_field :quantity, :value => item.quantity.to_i %>
            <%= f.submit 'Actualizar', class: 'btn btn-success' %>

            <%= link_to 'Eliminar del carro', order_item_path(item), method: :delete, remote: true, class: 'btn btn-danger' %>
        <% end %>

        <h5 class="mb-4">Subtotal: $<%= item.total %></h5>

    </div>
<% end %>

<h4>Total: $<strong><%= current_order.subtotal %></strong></h4>
